<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}}!
    </h1>
</div>
<div>
    Here is the input and search things
</div>
<div>
    Here is the list of Characters corresponding to the search
    <h2>Character list</h2>
    <div class="list-group">
        <button type="button" class="list-group-item" *ngFor="let character of characters">
            <span class="badge" *ngFor="let tag of character.tags">{{tag.title}}</span>
            <button type="button" class="btn btn-default btn-xs fa fa-pencil"></button>
            {{character.name}}
        </button>
    </div>
</div>