<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{title}}
    </h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-3">
            <div>
                <input class="form-control" type="text" (keyup)="onSearchKey($event)" [(ngModel)]="tagSearched">
            </div>
            <div>
                <button class="btn btn-xs btn-round" [ngClass]="i === selectedTagIndex ? 'btn-success' : 'btn-primary'" *ngFor="let possibleTag of possibleTags; let i = index" (click)="onPossibleTagClick(possibleTag)">{{possibleTag.title}}</button>
            </div>
        </div>
        <div class="col-xs-7">
            <button class="btn btn-primary btn-xs btn-round" *ngFor="let currentTag of currentTags" (click)="onCurrentTagClick(currentTag)">{{currentTag.title}}</button>
        </div>
        <div class="col-xs-2">
            <button class="btn btn-block btn-warning" *ngIf="currentTags.length > 0" (click)="onResetTags()"><i class="fa fa-eraser" aria-hidden="true"></i> Reset current Tags</button>
        </div>
    </div>
</div>
<div>
    <h2>Character list <i class="fa fa-plus-square-o clickable" aria-hidden="true" data-toggle="modal" data-target="#addCharacterModal" (click)="onPlusCharacterClick()"></i></h2>

    <div class="list-group">

        <span *ngFor="let character of characters">
            <button type="button" class="list-group-item" (click)="onCharacterSelect(character)">
                <span class="badge btn btn-primary btn-xs btn-round" *ngFor="let tag of character.tags">{{tag.title}}</span>
            {{character.name}}
            </button>
            <div *ngIf="character.isActive" class="row">
                <div class="col-xs-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCharacterModal" (click)="onCharacterEditClick(character)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</button>
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteCharacterModal"><i class="fa fa-times" aria-hidden="true"></i> Supprimer</button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3 class="text-center">Description Physique</h3>
                    <p>{{character.physique}}</p>
                </div>
                <div class="col-xs-6">
                    <h3 class="text-center">Description Mentale</h3>
                    <p>{{character.morale}}</p>
                </div>
                <div class="col-xs-12">
                    <h3 class="text-center">Histoire</h3>
                    <p>{{character.histoire}}</p>
                </div>
            </div>
        </span>
    </div>

    <h2>Tag List <i class="fa fa-plus-square-o clickable" aria-hidden="true" data-toggle="modal" data-target="#addTagModal"></i></h2>
    <div>
        <button class="btn btn-primary btn-xs btn-round" *ngFor="let allTag of allTags" (click)="onPossibleTagClick(allTag)">{{allTag.title}}</button>
    </div>
</div>

<!-- MODALS -->
<!-- MODAL : ADD TAG -->
<div class="modal fade" id="addTagModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajouter un Tag</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputTagName" class="col-xs-4 control-label">Nom du tag</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="inputTagName" placeholder="Nom" [(ngModel)]="tagNameToAdd" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveNewTag()">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL : ADD CHARACTER -->
<div class="modal fade" id="addCharacterModal" tabindex="-1" role="dialog" aria-labelledby="myCharacterLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myCharacterLabel">Ajouter un Personnage</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputCharacterName" class="col-xs-4 control-label">Nom</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="inputCharacterName" placeholder="Nom" [(ngModel)]="characterNameToAdd" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCharacterPhysique" class="col-xs-4 control-label">Description Physique</label>
                        <div class="col-xs-8">
                            <textarea type="text" class="form-control" id="inputCharacterPhysique" placeholder="Fort,..." [(ngModel)]="characterPhysiqueToAdd" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCharacterMentale" class="col-xs-4 control-label">Description Mentale</label>
                        <div class="col-xs-8">
                            <textarea type="text" class="form-control" id="inputCharacterMentale" placeholder="Simple,..." [(ngModel)]="characterMoraleToAdd" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCharacterHistoire" class="col-xs-4 control-label">Histoire</label>
                        <div class="col-xs-8">
                            <textarea type="text" class="form-control" id="inputCharacterHistoire" placeholder="Est né de..." [(ngModel)]="characterHistoireToAdd" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="text-center">Tags</h4>
                        <div class="col-xs-6">
                            <div>
                                <input class="form-control" type="text" (keyup)="onEditSearchKey($event)" [(ngModel)]="editTagSearched" [ngModelOptions]="{standalone: true}">
                            </div>
                            <div>
                                <button class="btn btn-xs btn-round" [ngClass]="i === selectedEditTagIndex ? 'btn-success' : 'btn-primary'" *ngFor="let possibleEditTag of possibleEditTags; let i = index" (click)="onPossibleEditTagClick(possibleEditTag, $event)">{{possibleEditTag.title}}</button>
                            </div>
                            <div *ngIf="editTagSearched != '' && possibleEditTags.length === 0">
                                <button class="btn btn-small btn-success" (click)="onEditCharacterAddTag()"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Ajouter ce Tag</button>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <p><strong>Current Tags</strong></p>
                            <button class="btn btn-primary btn-xs btn-round" *ngFor="let editCharacterCurrentTag of editCharacterCurrentTags" (click)="onCurrentEditTagClick(editCharacterCurrentTag)">{{editCharacterCurrentTag.title}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveNewCharacter()">{{characterIdToAdd ? "Editer" : "Créer" }}</button>
            </div>
        </div>
    </div>
</div>
<!-- MODAL : DELETE CHARACTER -->
<div class="modal fade" id="deleteCharacterModal" tabindex="-1" role="dialog" aria-labelledby="myCharacterDelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myCharacterDelLabel">Supprimer un personnage</h4>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir supprimer le personnage {{currentSelectedCharacter && currentSelectedCharacter.name}} ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="onDeleteCharacterClick()">Supprimer</button>
            </div>
        </div>
    </div>
</div>