<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{title}}
    </h1>
</div>
<div>
    <div class="row">
        <div class="col-xs-3">
            <div>
                <input class="form-control" type="text" (keyup)="onSearchKey($event)" [(ngModel)]="tagSearched">
            </div>
            <div>
                <button class="btn btn-xs btn-round" [ngClass]="i === selectedTagIndex ? 'btn-success' : 'btn-primary'" *ngFor="let possibleTag of possibleTags; let i = index" (click)="onPossibleTagClick(possibleTag)">{{possibleTag.title}}</button>
            </div>
        </div>
        <div class="col-xs-9">
            <button class="btn btn-primary btn-xs btn-round" *ngFor="let currentTag of currentTags" (click)="onCurrentTagClick(currentTag)">{{currentTag.title}}</button>
        </div>
    </div>
</div>
<div>
    <h2>Character list</h2>

    <div class="list-group">

        <span *ngFor="let character of characters">
            <button type="button" class="list-group-item" (click)="onCharacterSelect(character)">
                <span class="badge btn btn-primary btn-xs btn-round" *ngFor="let tag of character.tags">{{tag.title}}</span>
            {{character.name}}
            </button>
            <div *ngIf="character.isActive" class="row">
                <div class="col-xs-12">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editer</button>
                        <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Supprimer</button>
                    </div>
                </div>
                <div class="col-xs-6">
                    <h3 class="text-center">Description Physique</h3>
                    <p>{{character.physique}}</p>
                </div>
                <div class="col-xs-6">
                    <h3 class="text-center">Description Mentale</h3>
                    <p>{{character.morale}}</p>
                </div>
                <div class="col-xs-12">
                    <h3 class="text-center">Histoire</h3>
                    <p>{{character.histoire}}</p>
                </div>
            </div>
        </span>
    </div>

    <h2>Tag List</h2>
    <div>
        <button class="btn btn-primary btn-xs btn-round" *ngFor="let allTag of allTags" (click)="onPossibleTagClick(allTag)">{{allTag.title}}</button>
    </div>
</div>